.imageIcon,
.imageIcon1 {
  position: absolute;
  margin: 0 !important;
  top: 424px;
  left: 782.5px;
  width: 246px;
  height: 246px;
  object-fit: cover;
  z-index: 0;
}
.imageIcon1 {
  top: 190px;
  left: 991.5px;
  width: 182px;
  height: 182px;
  z-index: 1;
}
.imageIcon2 {
  top: 619px;
  left: 524px;
  width: 194px;
  height: 194px;
  object-fit: cover;
  z-index: 2;
}
.imageIcon2,
.imageIcon3,
.vectorIcon {
  position: absolute;
  margin: 0 !important;
}
.imageIcon3 {
  top: 810px;
  left: 286px;
  width: 292px;
  height: 273px;
  object-fit: cover;
  z-index: 3;
}
.vectorIcon {
  top: -123.94px;
  left: -57.71px;
  width: 287.84px;
  height: 287.84px;
  z-index: 0;
}
.ourCollections {
  position: relative;
  z-index: 1;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.thisIsA {
  margin: 0;
}
.text {
  position: relative;
  line-height: 24px;
}
.content {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-sm);
}
.content,
.ourStoryBottom,
.ourStoryBottom1 {
  display: flex;
  justify-content: flex-start;
}
.ourStoryBottom1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs);
}
.ourStoryBottom {
  width: 907px;
  height: 564px;
  flex-direction: row;
  padding: var(--padding-61xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  z-index: 4;
}
.vectorIcon1 {
  position: absolute;
  margin: 0 !important;
  top: -67.25px;
  left: -89.25px;
  width: 178.32px;
  height: 178.5px;
  z-index: 0;
}
.ourCollections1 {
  letter-spacing: 0.52px;
  z-index: 1;
}
.ourCollections1,
.text1 {
  position: relative;
}
.ourStoryBottom2 {
  width: 907px;
  height: 357px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-61xl) 0 var(--padding-38xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
}
.aboutPage,
.ourStory {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourStory {
  align-self: stretch;
  height: 1136px;
  padding: 310px 0 var(--padding-181xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-51xl);
}
.aboutPage {
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1060px) {
  .ourStoryBottom,
  .ourStoryBottom2 {
    align-self: stretch;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .ourStory {
    align-self: stretch;
    width: auto;
    gap: var(--gap-31xl);
  }
}
