.detailPageLandingImageIcon {
  position: relative;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.name,
.price {
  position: relative;
  line-height: 22.4px;
}
.name {
  display: flex;
  align-items: center;
  width: 87px;
}
.price {
  color: var(--color-slategray);
}
.productNamePrice {
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 212.66000366210938px 0.3899993896484375px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.39px;
}
.div {
  position: relative;
  line-height: 22.4px;
}
.parent {
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 61px;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  color: var(--color-black);
}
.product1 {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.product1,
.product1:hover {
  cursor: pointer;
}
.xCircleIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.addedProduct {
  width: 293px;
  height: 107px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
.addedProduct:hover .xCircleIcon {
  display: flex;
}
