.bgLeftIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 444px;
  flex-shrink: 0;
  object-fit: cover;
}
.bannerLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.vectorIcon {
  position: absolute;
  margin: 0 !important;
  top: -69.5px;
  left: -76px;
  width: 251.85px;
  height: 254.22px;
  z-index: 0;
}
.aBoutiqueShop {
  position: relative;
  z-index: 1;
}
.forYourLittleOnes,
.shopClothesCollection {
  position: relative;
  font-family: var(--font-inter);
}
.forYourLittleOnes {
  font-size: var(--font-size-4xl);
  letter-spacing: 2.6px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 254.12px;
  height: 31px;
  flex-shrink: 0;
  z-index: 2;
}
.shopClothesCollection {
  font-size: var(--font-size-sm);
  line-height: 22.4px;
  color: var(--color-darkslategray-200);
  text-align: left;
}
.shopClothesCollection:hover {
  color: var(--color-white);
}
.bannerButton,
.vectorParent {
  display: flex;
  justify-content: flex-start;
}
.bannerButton {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 13.800000190734863px 42.91999816894531px 15.199999809265137px
    42.08000183105469px;
  background-color: var(--color-lemonchiffon);
  flex-direction: row;
  align-items: flex-start;
  z-index: 3;
}
.bannerButton:hover {
  background-color: var(--color-lightcoral-100);
}
.vectorParent {
  height: 257px;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: var(--gap-12xl);
}
.banner1,
.bannerContent {
  align-self: stretch;
  height: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bannerContent {
  background-color: var(--color-lemonchiffon);
}
.banner1 {
  text-align: center;
  font-size: var(--font-size-58xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-sacramento);
}
.banner,
.bannerRight {
  display: flex;
  align-items: center;
}
.bannerRight {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.banner {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: flex-end;
  z-index: 2;
}
@media screen and (max-width: 1060px) {
  .bannerLeft {
    flex: unset;
    align-self: stretch;
  }
  .banner1,
  .bannerContent,
  .bannerRight {
    align-items: center;
    justify-content: center;
  }
  .banner1,
  .bannerRight {
    align-self: stretch;
  }
  .banner1 {
    width: auto;
  }
  .bannerRight {
    flex: unset;
  }
  .banner {
    flex-direction: column;
  }
}
@media screen and (max-width: 570px) {
  .aBoutiqueShop {
    font-size: var(--font-size-36xl);
  }
  .forYourLittleOnes {
    font-family: var(--font-inter);
  }
  .bannerContent {
    align-items: center;
    justify-content: center;
  }
  .bannerRight {
    height: 300px;
  }
}
