.bgIcon {
  position: absolute;
  margin: 0 !important;
  top: -66.78px;
  left: -49.78px;
  width: 208px;
  height: 208px;
  z-index: 0;
}
.ourCollections {
  position: relative;
  letter-spacing: 0.52px;
  z-index: 1;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-3xl);
}
.weAreAlways {
  margin: 0;
}
.text {
  position: relative;
  line-height: 23.8px;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text4 {
  color: inherit;
  text-decoration: none;
}
.text4,
.text5 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 23.8px;
}
.content1 {
  align-self: stretch;
}
.content1,
.ourStoryBottom1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.imgIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 304px;
  flex-shrink: 0;
  object-fit: cover;
}
.shopImg {
  width: 468px;
  height: 331px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.contents1,
.ourStoryBottom {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.ourStoryBottom {
  flex-direction: row;
  padding: var(--padding-61xl) 0 var(--padding-38xl);
  justify-content: center;
  gap: var(--gap-3xs);
}
.contents1 {
  flex-direction: column;
  padding: 0 var(--padding-131xl);
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1060px) {
  .ourStoryBottom1,
  .shopImg {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .shopImg {
    justify-content: flex-end;
  }
  .ourStoryBottom {
    align-self: stretch;
    width: auto;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .contents1,
  .ourStoryBottom {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .shopImg {
    align-items: center;
    justify-content: flex-end;
  }
  .contents1 {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 570px) {
  .ourStoryBottom {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
