.imgIcon {
  position: relative;
  width: 469.5px;
  height: 500px;
  object-fit: cover;
}
.redIcon {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.color2 {
  position: relative;
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 45px;
  height: 45px;
}
.colorSelect {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-9xs);
}
.col,
.colorSelect,
.productPhoto {
  display: flex;
  align-items: flex-start;
}
.col {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.productPhoto {
  width: 469.5px;
  flex-direction: row;
  justify-content: center;
}
.detailPopup,
.productDetail {
  width: 974px;
  display: flex;
  align-items: center;
}
.productDetail {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-16xl);
}
.detailPopup {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  justify-content: flex-start;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 1060px) {
  .col {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .detailPopup {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .productPhoto {
    align-items: center;
    justify-content: center;
  }
  .productDetail {
    flex-direction: column;
  }
}
