.addMemo,
.fileTextIcon {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.fileTextIcon {
  width: 24px;
  overflow: hidden;
}
.addMemo {
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 105.12px;
}
.memo {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.col,
.inputBox,
.memo,
.memoPopup {
  display: flex;
  align-items: flex-start;
}
.inputBox {
  border: 1px solid var(--color-gray-200);
  background-color: transparent;
  flex: 1;
  box-sizing: border-box;
  width: 408px;
  flex-direction: row;
  padding: var(--padding-3xs);
  justify-content: flex-start;
}
.col,
.memoPopup {
  flex-direction: column;
}
.col {
  width: 408px;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.memoPopup {
  position: relative;
  background-color: var(--color-white);
  width: 536px;
  height: 275px;
  overflow: hidden;
  padding: var(--padding-49xl);
  box-sizing: border-box;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
