@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.div,
.icon {
  position: relative;
}
.icon {
  width: 26px;
  height: 26px;
}
.div {
  line-height: 22.4px;
}
.logIn {
  width: 116px;
  height: 38px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 30.26%;
  width: 30.26%;
  top: 34.87%;
  right: 34.87%;
  bottom: 34.87%;
  left: 34.87%;
}
.xSquare {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #51a4c4;
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
}
.logInParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.boysGirls {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22.4px;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-500);
  text-align: center;
  display: inline-block;
}
.boysGirlsParent,
.frameParent {
  width: 202px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frameParent {
  position: absolute;
  top: 46px;
  left: 46px;
  width: 272px;
  align-items: center;
}
.phoneMenuPage {
  position: relative;
  background-color: var(--color-white);
  width: 360px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.phoneMenuPage.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
