.detailPageLandingImageIcon {
  position: relative;
  width: 299.66px;
  height: 300px;
  object-fit: cover;
  z-index: 0;
}
.new {
  position: relative;
  line-height: 19.6px;
}
.newMark {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 53px;
  height: 20px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.name,
.price {
  position: relative;
  line-height: 22.4px;
}
.price {
  color: var(--color-slategray);
}
.product2,
.productNamePrice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.productNamePrice {
  padding: 0 212.66000366210938px 0.3899993896484375px 0;
  gap: 4.39px;
  z-index: 2;
  text-align: left;
  color: var(--color-darkslategray-200);
}
.product2 {
  position: relative;
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
