.detailPageLandingImageIcon {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: cover;
  z-index: 0;
}
.seeDetail {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-500);
  margin: 0 !important;
  position: absolute;
  top: 258px;
  left: 0.49px;
  width: 299px;
  height: 42px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.button:hover {
  background-color: var(--color-silver-300);
}
.new,
.product {
  position: relative;
}
.product {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 0;
}
.product,
.product3:hover .button1,
.product3:hover .hoverImgIcon,
.product:hover .button {
  display: flex;
}
.new {
  line-height: 19.6px;
}
.newMark {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 53px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.name,
.price {
  position: relative;
  line-height: 22.4px;
}
.price {
  color: var(--color-slategray);
}
.product1,
.productNamePrice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.productNamePrice {
  padding: 0 212.66000366210938px 0.3899993896484375px 0;
  gap: 4.39px;
  z-index: 2;
  text-align: left;
  color: var(--color-darkslategray-200);
}
.product1 {
  position: relative;
  gap: var(--gap-mini);
}
.product1:hover {
  cursor: pointer;
}
.detailPageLandingImageIcon1,
.hoverImgIcon {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: cover;
  z-index: 0;
}
.hoverImgIcon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: -0.17px;
  display: none;
  z-index: 1;
}
.button1,
.product3 {
  flex-direction: row;
  cursor: pointer;
}
.button1 {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-500);
  margin: 0 !important;
  position: absolute;
  top: 258px;
  left: 0.49px;
  width: 299px;
  height: 42px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.button1:hover {
  background-color: var(--color-silver-300);
}
.product3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 0;
}
.newMark1 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 53px;
  height: 20px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.productIcon {
  width: 299.66px;
  height: 300px;
  object-fit: cover;
  z-index: 0;
}
.product31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-mini);
}
.productListRow1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1060px) {
  .productListRow1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
