@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-sacramento: Sacramento;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-2xs: 11px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-4xl: 23px;
  --font-size-3xl: 22px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-28xl: 47px;
  --font-size-6xl: 25px;
  --font-size-58xl: 77px;
  --font-size-36xl: 55px;
  --font-size-sm-7: 13.7px;
  --font-size-5xl: 24px;
  --font-size-smi: 13px;

  /* Colors */
  --color-lightcoral-100: #fc8f8d;
  --color-white: #fff;
  --color-lightblue: #a9d9ed;
  --color-darkslategray-500: #3f3f3f;
  --color-darkslategray-100: #373b4d;
  --color-darkslategray-200: #313131;
  --color-darkslategray-300: #2d2d2d;
  --color-darkslategray-400: rgba(49, 49, 49, 0.2);
  --color-dimgray-100: #626262;
  --color-dimgray-200: #575757;
  --color-skyblue: #61b3cf;
  --color-lemonchiffon: #fbf3bf;
  --color-black: #000;
  --color-gray-100: #939393;
  --color-gray-200: #99907c;
  --color-gray-300: #867e69;
  --color-gray-400: #252525;
  --color-silver-100: #c9c9c9;
  --color-silver-200: #c4c4c4;
  --color-silver-300: #c3baa8;
  --color-silver-400: rgba(192, 192, 192, 0.6);
  --color-slategray: #41778a;
  --color-antiquewhite: #e4ddcd;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-65xl: 84px;
  --gap-lg: 18px;
  --gap-mini: 15px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-smi: 13px;
  --gap-7xs: 6px;
  --gap-0: 0px;
  --gap-6xl: 25px;
  --gap-8xs: 5px;
  --gap-22xl: 41px;
  --gap-41xl: 60px;
  --gap-151xl: 170px;
  --gap-xl: 20px;
  --gap-31xl: 50px;
  --gap-12xl: 31px;
  --gap-9xs: 4px;
  --gap-11xl: 30px;
  --gap-base: 16px;
  --gap-51xl: 70px;
  --gap-19xl: 38px;
  --gap-15xl: 34px;
  --gap-16xl: 35px;
  --gap-2xl: 21px;
  --gap-4xs-4: 8.4px;
  --gap-4xs: 9px;
  --gap-xs: 12px;
  --gap-4xl: 23px;
  --gap-8xs-4: 4.4px;
  --gap-7xl: 26px;
  --gap-mini-4: 14.4px;
  --gap-6xs: 7px;
  --gap-10xs: 3px;
  --gap-40xl: 59px;

  /* Paddings */
  --padding-mini: 15px;
  --padding-10xs: 3px;
  --padding-21xl: 40px;
  --padding-7xl: 26px;
  --padding-3xl: 22px;
  --padding-7xs-3: 5.3px;
  --padding-84xl-9: 103.9px;
  --padding-6xs-7: 6.7px;
  --padding-83xl-1: 102.1px;
  --padding-5xs: 8px;
  --padding-2xl: 21px;
  --padding-11xs: 2px;
  --padding-42xl: 61px;
  --padding-81xl: 100px;
  --padding-12xs-3: 0.3px;
  --padding-11xs-5: 1.5px;
  --padding-181xl: 200px;
  --padding-31xl: 50px;
  --padding-3xs: 10px;
  --padding-11xl: 30px;
  --padding-xs-6: 11.6px;
  --padding-42xl-6: 61.6px;
  --padding-sm-4: 13.4px;
  --padding-41xl-4: 60.4px;
  --padding-101xl: 120px;
  --padding-sm-8: 13.8px;
  --padding-30xl: 49px;
  --padding-base-2: 15.2px;
  --padding-12xs-1: 0.1px;
  --padding-12xs: 1px;
  --padding-sm-1: 13.1px;
  --padding-28xl-2: 47.2px;
  --padding-mini-9: 14.9px;
  --padding-27xl-8: 46.8px;
  --padding-mid: 17px;
  --padding-23xl-9: 42.9px;
  --padding-23xl-1: 42.1px;
  --padding-41xl: 60px;
  --padding-base: 16px;
  --padding-sm: 14px;
  --padding-xs: 12px;
  --padding-13xl: 32px;
  --padding-49xl: 68px;
  --padding-88xl: 107px;
  --padding-193xl-7: 212.7px;
  --padding-12xs-4: 0.4px;
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-61xl: 80px;
  --padding-10xs-1: 2.1px;
  --padding-33xl-5: 52.5px;
  --padding-9xs-9: 3.9px;
  --padding-31xl-5: 50.5px;
  --padding-131xl: 150px;
  --padding-38xl: 57px;

  /* border radiuses */
  --br-11xl: 30px;
  --br-68xl-5: 87.5px;
  --br-101xl: 120px;
  --br-79xl-3: 98.3px;
  --br-121xl: 140px;
  --br-sm: 14px;
}
